<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jonathan.projetodesloq">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
            <activity
            android:name=".Aplicacao"
            android:label="@string/title_activity_aplicacao"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        -->
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TelaLogin"
            android:label="Login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Tela_Cadastro_Usuario"
            android:label="Cadastro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Aplicacao"
            android:label="@string/title_activity_aplicacao"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BuscaDispositivo"
            android:label="@string/title_activity_busca_dispositivo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Cadastro_Placa_Dispositivo"
            android:label="@string/title_activity_cadastro__placa__dispositivo"
            android:parentActivityName=".BuscaDispositivo"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jonathan.projetodesloq.BuscaDispositivo" />
        </activity>
    </application>

</manifest>